<div class="container w-full md:max-w-3xl mx-auto">
  <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal font-serif">
    <div class="font-sans">
      <p class="text-base md:text-sm text-indigo-400 font-bold">
        <a href="<%= articles_path %>" class="no-underline hover:text-indigo-500">
          &lt;
          BACK TO BLOG
        </a>
      </p>
      <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
        <%= @article.title %>
      </h1>
      <p class="text-sm md:text-base font-normal text-gray-600">Published <%= @article.created_at.in_time_zone('Kolkata').strftime('%b %d, %Y %I:%M %p %Z') %>
      </p>
      <div class="my-2 text-xs font-normal">
        <a href="<%= edit_article_path(@article) %>" class="px-3 py-1 bg-yellow-400 text-gray-800 hover:text-black hover:bg-yellow-500 rounded-md shadow-sm">
          Edit
        </a>
        <%= link_to 'Delete', @article,
              method: :delete,
              data: { confirm: "Are you sure about deleting the post and its comments?" },
              class: 'px-3 py-1 ml-1 bg-red-500 text-gray-100 hover:text-white hover:bg-red-600 rounded-md shadow-sm' %>
      </div>
    </div>
    <div class="pt-6 text-justify">
      <%= simple_format(@article.body, class:'pb-4') %>
    </div>
  </div>
  <div class="w-full md:w-50 my-4 leading-normal font-sans">
    <h2 class="text-2xl font-bold mb-4">Written by</h2>
    <p class="text-3xl font-semibold text-indigo-600 bg-white shadow-md p-4 mt-3 rounded-md">
      <%= @article.author %>
    </p>
  </div>
  <div class="w-full my-4 leading-normal font-sans">
    <h2 class="text-2xl font-bold mb-4">Comments (<%= @article.comments.public_count%>)</h2>
    <%= render @article.comments %>
    
    <h2 class="text-xl font-bold mt-5 mb-3">Add Comment</h2>
    <%= render 'comments/form' %>
  </div>
</div>
